{% extends "base.html" %}
{% load filters %}

{% block body %}
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>Wpływy</td>
                    <td class="text-success">{{ total_income|pln }}</td>
                </tr>
                <tr>
                    <td>Wydatki</td>
                    <td class="text-warning">{{ total|pln }}</td>
                </tr>
                <tr>
                    <td>Bilans</td>
                    <td class="{% if left > 0 %}text-success{% else %}text-danger{% endif %}">{{ left|pln }}</td>
                </tr>
                <tr>
                    <td>Wydatki kartą kredytową</td>
                    <td class="{% if paid_with_credit_card > 0 %}text-danger{% else %}text-success{% endif %}">{{ paid_with_credit_card|pln }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Wydatki</h3>
            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Miejsce</th>
                    <th>Kwota</th>
                </tr>
                </thead>
                <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.date }}</td>
                        <td>{{ expense.place }}</td>
                        <td>
                            {{ expense.total|pln }}
                            {% if expense.paid_with_credit_card %}
                                credit
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>{{ total|pln }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-1">

        </div>

        <div class="col">
            <h3>Kategorie</h3>
            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr>
                    <th>Kategoria</th>
                    <th>Kwota</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.total|pln }}</td>
                        <td>{{ category.percentage }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            <br/>
            <h3>Subkategorie</h3>
            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr>
                    <th>Subkategoria</th>
                    <th>Kwota</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for subcategory in subcategories %}
                    <tr>
                        <td>{{ subcategory.name }}</td>
                        <td>{{ subcategory.total|pln }}</td>
                        <td>{{ subcategory.percentage }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            <br/>
            <h3>Miejsca</h3>
            <table class="table table-hover" data-toggle="table">
                <thead>
                <tr>
                    <th>Miejsce</th>
                    <th>Kwota</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for place in places %}
                    <tr>
                        <td>{{ place.name }}</td>
                        <td>{{ place.total|pln }}</td>
                        <td>{{ place.percentage }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}